.tag {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    margin: auto;
    position: relative;
    background: url("images/image.png");
}

.tag .tagging-element {
    position: absolute;
}

.tag .tagging-title, .delete {
    cursor: pointer;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #000;
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    color: #fff;
}

.delete {
    margin-left: -5px;
}

.hide {
    display: none;
}
